# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.egg-info/
.venv/
venv/
env/

# Outputs generados
output/result_*.json
output/test_events.jsonl
output/kafka_events.jsonl
output/pipeline_run.log
output/pipeline_kafka_run.log
output/producer_run.log

# Archivos de otros proyectos
notebook.py
Dockerfile
pyproject.toml
data/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
